@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold mb-4">The Joel Hilton Film Collection</h1>

    <img src="~/img/joelhiltonheadshot.jpg" class="img-fluid rounded-circle mb-4" style="max-width: 200px;" />

    <p class="lead mb-4">
        Discover Joel’s curated collection of films and his favorite picks from across the decades!
    </p>

    <a asp-controller="Home" asp-action="GetToKnowJoel" class="btn btn-primary btn-lg">
        Click here to get to know Joel!
    </a>
</div>